<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<!-- This example requires Tailwind CSS v2.0+ -->
<nav class="bg-gray-900">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
      </div>
      <div class="flex-1 flex items-center  sm:items-stretch sm:justify-start">
        <div class="flex-shrink-0 flex items-center">
        <a href="/"><img class="sm:block h-20 w-auto" src="/images/finito.svg" alt="Workflow"></a>
          
        </div>
        <div>
          <div class="mt-7 space-x-20 justify-end">
            <a href="/login" class="text-white hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Login</a>
            <a href="/logout" class="text-white hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Logout</a>
          </div>
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        </div>
    </div>
  </div>
</nav>

<body>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>