<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div>
      

      <div class="bg-yellow-400 h-40 w-40 flex rounded-full shadow-xl mx-auto">
      </div>
      
      <h2 id="parte1" class="block mt-6 text-center text-3xl font-extrabold text-gray-900">
        ¿Qué quisieras mejorar?
      </h2>
      <h2 id="parte2" class="hidden mt-6 text-center text-3xl font-extrabold text-gray-900">
        Súper, comencemos con tus datos
      </h2>
    </div>
    <form class="mt-8 space-y-6" action="/signup" method="POST">
    <div id="parte1" class="block">
    {{#each this.rituales}}
        <div class="p-4 mt-1 bg-white rounded-xl shadow-md">
          <label class="flex items-center space-x-3">
          <input type="checkbox" value={{this.nombreRitual}} name="interes" class=" h-6 w-6 border border-gray-300 rounded-md checked:bg-blue-600 checked:border-transparent focus:outline-none">
          <span class="text-gray-900 font-medium">{{this.nombreRitual}}</span>
          </label>
        </div>
      {{/each}}
    </div>
    <div id="parte2" class="hidden">
      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <label for="nombre" class="sr-only">Nombre</label>
          <input id="nombre" name="name" type="text" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Nombre">
        </div>
        <div>
          <label for="edad" class="sr-only">Edad</label>
          <input id="edad" name="edad" type="number" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Edad">
        </div>
        <div>
          <label for="email-address" class="sr-only">Email</label>
          <input id="email-address" name="email" type="email" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Email">
        </div>
        <div>
          <label for="password" class="sr-only">Password</label>
          <input id="password" name="password" type="Password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Password">
        </div>
      </div>
    </div>
      <div class="flex items-center justify-between">
        
      </div>

      <div>
        <button id="btn-parte1"  class="block group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-black hover:bg-yellow-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500">
          <span class="absolute left-0 inset-y-0 flex items-center pl-3">
            <!-- Heroicon name: solid/lock-closed -->
            <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
            </svg>
          </span>
          <p>Continuar</p> 
        </button>
        <button id="btn-parte2" type="submit" class="hidden group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-black hover:bg-yellow-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500">
          <span class="absolute left-0 inset-y-0 flex items-center pl-3">
            <!-- Heroicon name: solid/lock-closed -->
            <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
            </svg>
          </span>
          <p>Regístrate</p> 
        </button>
      </div>
    </form>
  </div>
</div>


