<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div>
      <div class="bg-yellow-400 h-40 w-40 flex rounded-full shadow-xl mx-auto">
      </div>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Apoyar, es parte de pertencer a una comunidad.
      </h2>
      <p>Estas frases son para recordar a todos los que estan tratando de cumplir sus propósitos que si se puede. Sé empatico</p>
    </div>
    <form class="mt-8 space-y-6" action="/nuevaFrase" method="POST">
      <div class="rounded-md shadow-sm -space-y-px">
        <div class="mb-5">
          <textarea class="appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" name="frase" value={{frase}} placeholder="escribe aqui" required>{{frase}}</textarea>
        </div>
      <div>
        <button type="submit" class="mt-group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-black hover:bg-yellow-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500">
          Actualizar 
        </button>
      </div>
    </form>
  </div>
</div>
