<div class="bg-gray-100 w-full flex-none">
  <div class="w-full flex-none -ml-full transform shadow-lg bg-gradient-to-br from-fuchsia-500 to-purple-600">
    <h1 class="text-7xl	">Aqui van los retos diarios</h1>
  </div>
</div>